TEST_PG_USER=testuser
TEST_PG_PASSWORD=testpass
TEST_PG_HOST=pgsql-test
TEST_PG_HOSTPORT=pgsql-test:5432
TEST_PG_DBNAME=cloudpingtest
JWT_SECRET=
CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_ZONE_ID=
TUNNEL_NAME=mrt-test
MAIN_DOMAIN=mrt-test.ping2.sh
